APP_NAME=skeleton
APP_NAME2=jsonRcp

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=18

# 阿里云配置中心
ALIYUN_ACM_ENDPOINT=acm.aliyun.com
ALIYUN_ACM_NAMESPACE=ff35ae57-e56c-4268-a155-39273f4b794e
ALIYUN_ACM_DATA_ID=test
ALIYUN_ACM_GROUP=DEFAULT_GROUP
ALIYUN_ACM_AK=LTAI4GDsFRrfULnGe3mgfZxe
ALIYUN_ACM_SK=zC5vqPjOZ0uI4UQXU5PtkT2HuPqSKi

# 调用链追踪
TRACER_ENABLE_GUZZLE = true
TRACER_ENABLE_REDIS = true
TRACER_ENABLE_DB = true
TRACER_ENABLE_METHOD = true
ZIPKIN_ENDPOINT_URL = http://192.168.30.162:9411/api/v2/spans
ZIPKIN_TIMEOUT = 1